{% extends 'base.html.twig' %}

{% block body %}
    <h1>Orcamento list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Value</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for orcamento in orcamentos %}
            <tr>
                <td><a href="{{ path('orcamento_show', { 'id': orcamento.id }) }}">{{ orcamento.id }}</a></td>
                <td>{{ orcamento.title }}</td>
                <td>{{ orcamento.value }}</td>
                <td>{% if orcamento.createdAt %}{{ orcamento.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if orcamento.updatedAt %}{{ orcamento.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('orcamento_show', { 'id': orcamento.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('orcamento_edit', { 'id': orcamento.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('orcamento_edit', { 'id': orcamento.id }) }}">send</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('orcamento_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
